@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins' , sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #623fc4 10%, rgb(95, 3, 107) 100%);
}

body::before,
body::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

body::before{
    clip-path: circle(30% at left 20%);
    background: linear-gradient(rgb(24, 10, 224) 10%, rgb(162, 3, 177) 100%);    
}

body::after{
    clip-path: circle(25% at right 80%);
    background: linear-gradient(rgba(19, 2, 245, 0.425) 10%, rgba(161, 189, 6, 0.425) 100%);    
}

header{
    height: 90vh;
    width: 90%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin: auto;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 12;
}

.navbar{
    width: 100%;
    display: flex;
    padding: 35px 50px;
    justify-content: space-between;
}

.logo{
    font-size: 25px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.menu{
    display: flex;
}

.menu li{
    list-style: none;
    margin: 0 7px;
}

.menu a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.menu a:hover{
color: #f2f2f2;
}

.button input{
    color: #f2f2f2;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 12px;
    margin: 0 8px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    background: linear-gradient(135deg, #623fc4 10%, rgb(95, 3, 107) 100%);

}

.content{
    display: flex;
    margin: auto;
    padding: 40px 20px;

}

.button input:hover{
    transform: scale(.90);
}

.text-content{
    width: 40%;


}

.text-content h2{
    font-size: 27px;
    font-weight: 600px;
}

.text-content p{
    font-size: 15px;
    margin-top: 10px;
}

/*********************C R E D I T - C A R D***************
*********************C R E D I T - C A R D***************/

.card{
    width: 400px;
    height: 250px;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.1);
    backdrop-filter: blur(7px);
    position: absolute;
    right: 50px;
    top: 150px;
    box-shadow: 4px 4px 4px rgba(68, 68, 68, 0.6);    
    cursor: pointer;
    transform: rotate(20deg);
}

.visa{
    width: 60px;
    height: 60px;
    background: url(img-web/visa.png) no-repeat;
    filter: brightness(.8);
    background-size: cover;
    position: relative;
    top: 3px;
    left: 315px;
}

.chip{
    width: 45px;
    height: 45px;
    margin: 5px;
    background: url(img-web/chip.png) center;
    filter: invert() brightness(.7);
    background-size: cover;
    position: relative;
    top: 25px;
    left: 25px;
}

.number::before{
    content: "1234 5678 9102 3456";
    width: 80px;
    height: 80px;

    position: relative;
    top: 50px;
    left: 15px;

    font-family: "Orbitron" , sans-serif;
    font-size: 21px;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px 8px;
}

.meta{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.name::before{
    content: "LEONARDO MELENDEZ";
    width: 60%;
    height: 100px;

    position: relative;
    top: 60px;
    left: 20px;
    font-family: "Orbitron" , sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.6);
}

.exp-date::before{
    content: "30/11/2022";
    width: 40%;
    height: 100px;

    position: relative;
    top: 60px;
    left: -20px;

    font-family: "Orbitron" , sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.6);
}

/*********************M E D I A - Q U E R Y***************
*********************M E D I A - Q U E R Y***************/

@media (max-width:970px) {
    header .navbar{
        flex-direction: column;
        align-items: center;
    }

    .navbar .menu{
        margin: 10px 0 20px 0;
    }

    .conten .text-content{
        width: 50%;
    }

    .conten .card{
        width: 50%;
    }
}