<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="style.css">
    <title>LOGO PAGE</title>
</head>
<body>
    
    <div class="login-card-container">

        <div class="login-card">

            <div class="login-card-logo">
                <span class="material-symbols-outlined account"> account_circle</span>
            </div>

            <div class="login-card-header">
                <h1>IPASME</h1>
            </div>

            <form class="login-card-form">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="text" placeholder="Usuario" required autofocus>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="Contraseña" required>
                </div>
                

                <a href="#">Recuperar cuenta</a>

                <button type="submit">Iniciar sesion</button>
            </form>

            <div class="login-card-footer">
                No tienes una cuenta? <a href="#">Crear cuenta nueva</a>.
            </div>

        </div>

    </div>


</body>
</html>