.cards-glass{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.swiper-button-next,
.swiper-button-prev{
    display: none;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 70px auto;
}

.container-background{
    max-width: 1200px;
    height: 600px;
    margin: auto;
    background: purple;
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.square{
    width: 300px;
    height: 300px;
    background: #455410;
    position: absolute;
}

.background1{
    width: 250px;
    height: 250px;
    background: linear-gradient(to left, #0ea1e6, #1e67c7);
    right: 450px;
    top: -360px;
    animation: 1s 8s ease infinite;
    border-radius: 50%;
}

.background2{
    width: 200px;
    height: 200px;
    background: linear-gradient(to left, #af0198, rgb(92, 4, 235));
    right: 350px;
    top: 100px;
    animation: s2 7s ease infinite;
    border-radius: 50%;
}

.background3{
    width: 400px;
    height: 400px;
    background: linear-gradient(to left, #024161, #79014b);
    top: -350px;
    left: -150px;
    animation: s3 10s ease infinite;
    border-radius: 50%;
}

.background4{
    width: 200px;
    height: 200px;
    background: linear-gradient(to left, #af0198, #131fce);
    left: 450px;
    top: 100px;
    animation: s4 8s ease infinite;
    border-radius: 50%;
}

.background5{
    width: 250px;
    height: 250px;
    background: linear-gradient(to left, #2e0ee6, #000f22);
    left: 450px;
    top: -360px;
    animation: s5 7s ease infinite;
    border-radius: 50%;
}


.card{
    position: relative;
    width: 350px;
    margin: 10px;
    padding: 10px;
    color: var(--text-color);
    box-shadow: 20px 20px 50px rgba(0,0,0,.5);
    border-radius: 15px;
    background: var(--primary-theme);
    backdrop-filter: blur(5px);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 300ms;
}

.card:hover{
    transform: translateY(-10px);
}

.card:hover .cover-card img{
    transform: scale(1.1);
}

.cover-card{
    width: 100%;
    height: 180px;
    border-radius: 14px;
    overflow: hidden;
}

.cover-card img{
    width: 110%;
    height: 150px;
    transition: all 300ms;
}

.cards-glass h2{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;

}

.cards-glass p{
    margin-top: 25px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
}

.card hr{
    margin-top: 30px;
    border: none;
    height: .2px;
    background: #41414138;
}

.footer-card{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footer-card h3{
    font-size: 18px;
    font-weight: 600;
}


/*                  Animacion de movimiento 
border-radius: 50%;*/
@keyframes s1{
    0%{
        transform: rotate(15deg) translatey(0px);
    }
    50%{
        transform: rotate(15deg) translateY(20px);
    }
    100%{
        transform: rotate(15deg) translatey(0px);
    }
}

@keyframes s2{
    0%{
        transform: rotate(41deg) translatey(0px);
    }
    50%{
        transform: rotate(41deg) translateY(20px);
    }
    100%{
        transform: rotate(41deg) translatey(0px);
    }
}

@keyframes s3{
    0%{
        transform: rotate(41deg) translatey(0px);
    }
    50%{
        transform: rotate(41deg) translateY(20px);
    }
    100%{
        transform: rotate(41deg) translatey(0px);
    }
}

@keyframes s4{
    0%{
        transform: rotate(65deg) translatey(0px);
    }
    50%{
        transform: rotate(65deg) translateY(20px);
    }
    100%{
        transform: rotate(65deg) translatey(0px);
    }
}

@keyframes s5{
    0%{
        transform: rotate(25deg) translatey(0px);
    }
    50%{
        transform: rotate(25deg) translateY(20px);
    }
    100%{
        transform: rotate(25deg) translatey(0px);
    }
}

@media (max-width: 800px){
    .cards-glass{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
    }
    
    .swiper-button-next,
    .swiper-button-prev{
        display:block;
    }
    
    .container{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 70px auto;
    }
    

    .card{
        position: relative;
        width: 350px;
        margin: 10px;
        padding: 10px;
        color: var(--text-color);
        box-shadow: 20px 20px 50px rgba(0,0,0,.5);
        border-radius: 15px;
        background: var(--primary-theme);
        backdrop-filter: blur(5px);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        transition: all 300ms;
    }

    .cover-card{
        width: 100%;
        height: 150px;
        border-radius: 14px;
        overflow: hidden;
    }

    .footer-card{
        margin-top: 1px;
        display: flex;
        justify-content: space-between;
    }

    .cards-glass h2{
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        margin-top: 20px;
    
    }

}