.top{
    box-shadow: 0 4px 5px;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--navbar-color);
    position: fixed;
    z-index: 1000;
}

/*  Barra de navegacion*/

.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/*logo*/
.logo{
    display: flex;
    align-items: center;
    color: #000;
}

/*Menu*/
.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    padding: 0 15px;
}

.menu a{
    color: var(--text-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 80px;
    position: relative;
}

/*Hover de los enlaces*/
.menu a::after{
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    top:  calc(100% + 4px);
    width: 100%;
    height: 4px;

    opacity: 0;
    transition: opacity .3s;
}

.menu a.selected::after,
.menu a:hover:after{
    opacity: .8;
}

.menu a:hover{
    color: var(--primary-theme);
}

/*Menu de hamburguesa*/
.open-menu,
.close-menu{
    display: none;
}


/*MEDIA*/
@media (max-width: 800px){
    .menu{
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        background: var(--menu-movil);
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s;
    }

    .menu li{
        padding: 0;
    }

    .menu a{
        color: var(--text-color);
        line-height: 70px;
        font-size: 25px;

    }

    .open-menu,
    .close-menu{
        display: block;
        border: none; 
        background: none;
        padding: 0 20px;
        cursor: pointer;
    }

    .close-menu{
        align-self: flex-end;
        padding: 23px 30px;

    }

    .menu-opened{
        opacity: 1;
        pointer-events: all;
    }

    .open-menu:focus:not(:focus-visible),
    .close-menu:focus:not(:focus-visible){
        outline: none;
    }
    
    .menu a::after{
        content: none;
    }

    .menu a:hover,
    .menu a.selected{
        color: var(--secondary-color);
    }

}
