:root{
    --theme:linear-gradient(135deg, rgb(32, 32, 32) 50%, rgb(9, 162, 250));
    --primary-theme: rgba(255, 255, 255, 0.05);
    --secondary-color: #05fcdb;
    --text-color:white;
    --primary-text-color: black;
    --navbar-color: rgb(168, 166, 166);
    --menu-movil:linear-gradient(to right bottom, rgb(6, 1, 8), rgb(9, 162, 250));
}

html{
    min-height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: var(--theme);
    padding-top: 100px;

}

a{
    text-decoration: none;
}







