.container_center{
  width: 100%;
  height: 89vh;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
}

.container_center--menu{
  display: flex;
  justify-content: space-around;
  padding-top: 0.5em;
}

.container_center--search{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_center--search input
{
  flex: 1;
  border-radius: var(--border-radius);
  background-color: var(--color-light);
  width: 80%;
  border: 0;
  outline: none;
  padding: 1em 2em;
  margin-right: .3em;
}

.container_center--search button{
  border-color: var(--color-primary);
  border-radius: 50%;
  background-color: #ffffffa0;
  width: 3em;
  height: 3em;
  cursor: pointer;
}

.container_center--menu .crear{
  border-radius: var(--border-radius);
  background: linear-gradient(to right,#1a1dc27d, #03aa7bdf);
  color: white;
  border: 0;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem #000000b8;
}

.container_center--list .listar,
.container_center--list .editar,
.container_center--list .eliminar{
  border-radius: var(--border-radius);
  border: 0;
}

.container_center--list{
  width: 95%;
  margin: 0 auto;
  border-radius: var(--border-radius);
  background-color: var(--color-light);
}

.container_center--list .item{
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 99%;
  background-color: var(--color-user);
  margin: 3% auto 0;
  border-radius: var(--border-radius);
  padding: 2px;
  overflow-y: hidden;
}

.item .options{
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
