aside{
  height: 100vh;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside .toggle .logo{
    margin: -0.9em 3em;
    display: flex;
    gap: 1.5rem;
}

aside .toggle .close{
    color: var(--color-white);
    padding-right: 1rem;
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-light);
    backdrop-filter: blur(100px);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 90vh;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 2.2rem;
    position: relative;
    margin-left: 1rem;
    transition: all 0.3 ease;
}

aside .sidebar a span{
  margin-right: .3em;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

aside .sidebar a:hover{
    width: 100%;
    color: var(--color-white);
    background-color: var(--color-light);
    margin-left: 0;
    border-radius: 12px;
}

aside .sidebar a::before{
    content: '';
    width: 0px;
    height: 18px;
    background-color: var(--color-white);
    margin-left: 0.2rem;
    border-radius: 2px;
}

.sidebar a.active::before {
      width: 5px;
    }

.sidebar a.active {
  background-color: var(--color-light);
  color: #ffffff;
  margin-left: 0;
}

aside .sidebar a:first-child{
    border-radius: 12px;
}


