aside{
  height: 100vh;
  color: var(--color-dark);
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside .toggle .logo{
    margin: -0.9em 3em;
    display: flex;
    gap: 1.5rem;
}

aside .sidebar .close{
    padding-right: 1rem;
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-light);
    backdrop-filter: blur(100px);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 90vh;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color-dark);
    height: 2.2rem;
    position: relative;
    margin-left: 1rem;
    transition: all 0.3 ease;
}

aside .sidebar a span{
  margin-right: .3em;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

aside .sidebar a:hover{
    width: 100%;
    color: var(--color-dark);
    background-color: #1ddd4347;
    margin-left: 0;
    border-radius: 12px;
}

aside .sidebar a::before{
    content: '';
    width: 0px;
    height: 18px;
    background-color: var(--color-white);
    margin-left: 0.2rem;
    border-radius: 2px;
}

.sidebar a.active::before {
      width: 5px;
    }

.sidebar a.active {
  background-color: #1ddd4347;
  color: #ffffff;
  margin-left: 0;
}

aside .sidebar a:first-child{
    border-radius: 12px;
}


@media screen and (max-width: 1200px){
  aside .logo h1{
    margin-right: 1rem;
  }

  aside .sidebar h3{
    display: none;
  }

  aside .sidebar a{
    margin-left: 2em;
  }

  aside .sidebar a{
    width: 5.6rem;
  }

  aside .sidebar a:last-child{
    position: relative;
    margin-top: 1.8rem;
  }

}

@media screen and (max-width: 768px){

  aside{
    position: fixed;
    width: 15rem;
    z-index: 3;
    height: 100vh;
    animation: showMenu 0.4 ease forwards;
    left: -100%;
    display: none;
  }


  @keyframes showMenu{
    to{
      left: 0;
    }
  }

  aside .logo h1{
    margin-left: 1rem;
    display: inline;
  }

  aside .sidebar{
    height: 96vh;
  }

  aside .sidebar h3{
    display: inline;
  }

  aside .sidebar a{
    width: 100%;
    height: 2.2rem;
  }

  aside .sidebar a::before{
    border-radius: none;
  }

  aside .sidebar a span{
    font-size: 1.3rem;
  }

  aside .sidebar a:last-child{
    position: absolute;
    bottom: .3rem;
}

aside .sidebar .close{
  display: flex;
  align-self: flex-end;
  padding: 0.2em;
}

aside .sidebar .close span{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  cursor: pointer;
}

}

