.modal{
  position: fixed;
  padding: .5rem;
  margin: 1.5rem 5rem;
  width: 80%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  overflow-y: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  background-color: rgba(146, 155, 175, 0.948);  border-radius: var(--border-radius);
}

.opc-modal,
input[type="mail"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="date"] {
    border: none;
    outline: none;
    color: #000;
    margin: .3rem;
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    transition: background .5s;
}

.login-card input:focus {
    background: white;
}

.opc-modal{
  border: none;
  appearance: none;
  font-size: 15px;
}

.btn-modal{
  background: black;
  color: white;
  padding: 1rem;
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background .5s;
}

.btn-modal:hover{
  background: rgba(0, 0, 0, .05);
  cursor: pointer;
}
