.modal{
  position: fixed;
  z-index: 6;
  padding: .5rem;
  margin: 1.5rem 5rem;
  width: 80%;
  height: 90vh;
  display: flex;
  gap: 3rem;
  overflow-y: auto; /*para darle la propiedad de bajar al modal*/
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  background-color: rgba(146, 155, 175, 0.948);  border-radius: var(--border-radius);
}

/*para cambiar el ancho del scroll*/
.modal::-webkit-scrollbar {
  width: 10px;

}

/*para cambiar el color del scroll*/
.modal::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0);

  border-radius: 55px;
}

/*Estilos del boton para cancelar el modal*/
#boton-cancelar-modal{
  background-color: none;
  position: absolute;
  right: 1%;
  top: 1%;
  cursor: pointer;
}

/*estilos para pantalla pequeña*/
@media screen and (max-width:  768px){
  .modal {
    top: 220px;
    right: 14%;
    width: 82%;
    height: 60%;
    margin: 0;
  }

  #boton-cancelar-modal{
    right: 2%;
    top: 2%;
  }

} 
  