.container_tramites{
  width: 65%;
  height: 85vh;
  background-color: rgba(93, 95, 93, 0.416);
  margin: 3% auto 0;
}

.container_tramites--menu{
  display: flex;
  justify-content: space-around;
}

.container_tramites--list{
  width: 95%;
  background-color: rgba(93, 95, 93, 0.416);
  margin: 3% auto 0;
}

.container_tramites--list .item{
  display: flex;
  justify-content: space-around;
  width: 95%;
  background-color: rgba(130, 99, 99, 0.594);
  margin: 3% auto 0;
  padding: 2px;
}
