.container_tratamientos{
  width: 65%;
  height: 85vh;
  background-color: rgba(93, 95, 93, 0.416);
  margin: 3% auto 0;
}

.container_tratamientos--menu {
  display: flex;
  justify-content: space-around;
}

.container_tratamientos--menu a{
  display: flex;
  justify-content: space-around;
  padding: 2px;
  border-radius: 5px;
  background-color: rgba(143, 212, 52, 0.594);
}

.container_tratamientos--list{
  width: 95%;
  margin: 0 auto;
  background-color: rgba(93, 95, 93, 0.416);
}

.container_tratamientos--list .item{
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(138, 228, 13, 0.594);
  margin: 3% auto 0;
  padding: 2px;
}

.item .options{
  display: flex;
  flex-direction: column;
}
